GOOGLE_CLIENT_ID=tu_client_id_de_google
GOOGLE_CLIENT_SECRET=tu_client_secret_de_google
# Ejemplo de configuración para PostgreSQL en Neon
PGHOST=tu_host_de_neon
PGUSER=tu_usuario
PGPASSWORD=tu_password
PGDATABASE=tu_basededatos
PGPORT=5432
